body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-brand { letter-spacing: 2px; }

/* Styling Katalog Studio */
.card {
    transition: all 0.3s ease;
    border-radius: 12px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    border-bottom: 4px solid #dc3545;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    font-weight: bold;
}

.btn-danger:hover { background-color: #a71d2a; }

/* QRIS & Payment UI */
.qris-box {
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
}